
<DOCTYPE html>

<html>
<head>
<title>Verbal Octopus</title>

</head>
<body>
<main>
<h1> Verbal Octopus </h1>
<ol>
<li>CSS structure</li>
<li>Build Zeist initial service</li>
<li>correct paths</li>
</ol>
<p></p>

    
    
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Upload</button>
</form> 
    
 <!---- <form action="" method="post" enctype="multipart/form-data" id='tform'>
      
       <input type="file" name="tFILE"></input>
       <button onclick="upload()" type="submit">Upload</button>
   </form>  ----->

<script>
console.log("js starts");
function sendingstone(){fetch('https://www.verbaloctopus.com/--zeist/upload/',{method:'POST'})};
function upload(){console.log("does upload even begin?");fileObj=document.getElementById('tform').files;sendingstone();console.log("end js")};




</script>
</main>
</body>
</html>
