
<DOCTYPE html>

<html>
<head>
<title>Verbal Octopus</title>

</head>
<body>
<main>
<h1> Verbal Octopus </h1>
<ol>
<li>CSS structure</li>
<li>Build Zeist initial service</li>
<li>correct paths</li>
</ol>
<p></p>


    
<!--- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="file" name="tFILE" id=itFILE></input>
    <button onclick="upload()" type="submit">Upload</button>
    <!--- <button type="submit">Upload</button></form> ---->


<!---const formData = new FormData();
formData.append('file', fileInput.files[0]);--->
    
 <form action="" method="post" enctype="multipart/form-data" id='tform'>
      
       <input type="file" name="tFILE" id="itFILE"></input>
       <button onclick="upload()" type="submit">Upload</button>
   </form> 


 for(var data of formData){console.log(data);}   

<script>
console.log("js starts");
//function showobj(){fileObj=document.getElementById('tform').files[0]};    
function sendingstone(dat){console.log("fetch about to launch");fetch('https://www.verbaloctopus.com/--zeist/upload/',{method:'POST',body:dat})};
function upload(){console.log("upload functions starts");fileObj=document.getElementById('itFILE').files[0];console.log(fileObj);formData = new FormData();formData.append('file',fileObj);console.log(formData);for(var data of formData){console.log(data);};sendingstone(formData);console.log("end js")};
//function upload(){console.log(fileObj=document.getElementById('itFILE').files[0])};    
//function upload(){console.log("upload functions starts");fileObj=document.getElementById('itFILE').files[0];console.log(fileObj);sendingstone(fileObj);console.log("end js")};


</script>
</main>
</body>
</html>
