.Branding_1{
            background-color: yellow;
            font-style: italic;
            font-size: 24px;
            margin: 10px;
            padding: 2px;
            color: black;     
}



.Branding_2{
  
}

.Branding_3{
  
}
